* {
  padding: 0;
  margin: 0;
}

body {
  color: #262626;
}

.head {
  color: #262626;
  background-color: #ffffff;
  width: 100%;
  display: flex;
  height: 5rem;
  border-bottom: 1px solid rgba(0, 0, 0, 0.0975);
  max-height: 80px;
  position: fixed;
  overflow: hidden;
  z-index: 10;
  top: 0;
}

#head {
  position: absolute;
  display: flex;
  height: 80px;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.35)
}

.head__center {
  display: flex;
  align-items: center;
  width: 37.5rem;
  justify-content: space-between;
}

.head__center_logo {
  display: flex;
  width: 6.25rem;
}

.head__center_logo:hover {
  transform: scale(1.1);
  transition: all 100ms ease-out;
}

.head__center__areanameIcon {
  display: flex;
  align-items: flex-start;
}

.head__center__areanameIcon__areaname {
  font-family: Arial;
  text-align: center;
  width: max-content;
}

.head__center__areanameIcon__areaname__primaryAreaName {
  font-size: 1.125rem;
}

.head__center__areanameIcon__areaname__secondaryAreaName {
  font-size: 0.875rem;
}

.head__center__areanameIcon__areaname__compasss {
  font-size: 1.5rem;
  margin: 0.375rem;
  animation-name: spin;
  animation-duration: 3000ms;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(359deg);
  }
}

.head__left {
  flex: auto;
}

.head__right {
  display: flex;
  flex: 1 10 0;
  justify-content: flex-end;
  align-items: center;
}

.head__right__button {
  font-family: Arial;
  font-size: 0.875rem;
  text-align: center;
  margin-right: 1.5rem;
  padding: 0.5rem;
  background-color: #fafafa;
  width: max-content;
  border: solid 1px #999;
  border-radius: 5px;
}

/****  floating-Lable style start ****/
.floating-label {
  position: relative;
  margin-bottom: 20px;
}

.floating-input,
.floating-select {
  font-size: 18px;
  padding: 4px 4px;
  display: block;
  width: 100%;
  height: 40px;
  background-color: transparent;
  border: none;
  border-bottom: 1px solid #1e90ff;
  margin-top: 7%;
}

.floating-input:focus,
.floating-select:focus {
  outline: none;
  border-bottom: 2px solid #1e90ff;
}

label {
  color: #999;
  font-size: 18px;
  font-weight: normal;
  position: absolute;
  pointer-events: none;
  left: 5px;
  top: 5px;
  transition: 0.2s ease all;
  -moz-transition: 0.2s ease all;
  -webkit-transition: 0.2s ease all;
}

.floating-input:focus~label,
.floating-input:not(:placeholder-shown)~label {
  top: -18px;
  font-size: 14px;
  color: #1e90ff;
}

.floating-select:focus~label,
.floating-select:not([value=""]):valid~label {
  top: -18px;
  font-size: 14px;
  color: #1e90ff;
}

/* active state */
.floating-input:focus~.bar:before,
.floating-input:focus~.bar:after,
.floating-select:focus~.bar:before,
.floating-select:focus~.bar:after {
  width: 50%;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.floating-textarea {
  min-height: 1.875rem;
  max-height: 16.25rem;
  overflow-x: hidden;
}

/* highlighter */
.highlight {
  position: absolute;
  height: 50%;
  width: 100%;
  top: 15%;
  left: 0;
  pointer-events: none;
  opacity: 0.5;
}

/* active state */
.floating-input:focus~.highlight,
.floating-select:focus~.highlight {
  -webkit-animation: inputHighlighter 0.3s ease;
  -moz-animation: inputHighlighter 0.3s ease;
  animation: inputHighlighter 0.3s ease;
}

/* animation */
@-webkit-keyframes inputHighlighter {
  from {
    background: transparent;
  }

  to {
    width: 0;
    background: transparent;
  }
}

@-moz-keyframes inputHighlighter {
  from {
    background: transparent;
  }

  to {
    width: 0;
    background: transparent;
  }
}

@keyframes inputHighlighter {
  from {
    background: transparent;
  }

  to {
    width: 0;
    background: transparent;
  }
}

/****  floating-Lable style end ****/

.btn-password {
  float: right;
  margin-top: -25px;
}

.btn-login {
  margin: 0 32px 20px 32px;
  border-radius: 5px;
}

.content {
  width: 100%;
  display: flex;
  margin-top: 5rem;
  justify-items: center;
}

.content__left {
  display: flex;
  flex-grow: 1;
}

.content__center {
  width: 37.5rem;
  @include transform(translateY(-50%));
  vertical-align: bottom;
  left: 1em;
  z-index: 5;
}

.content__center__post {
  display: flex;
  width: 100%;
  flex-direction: column;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  margin-top: 20px;
}

.content__center__post__head {
  display: flex;
  align-items: center;
  font-weight: bold;
}

.content__center__post__image {
  max-width: 100%;
  height: auto;
}

.content__center__post__head__avatar {
  width: 2.5rem;
  height: 2.5rem;
  margin: 10px;
}

.content__center__post__head__detail {
  width: 100%;
}

.content__center__post__head__detail__bottom {
  display: flex;
}

.content__center__post__head__detail__bottom__time {
  margin-left: 20px;
}

.content__center__post__reaction {
  display: flex;
  justify-content: space-between;
  margin: 10px 20px;
  padding-bottom: 10px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.0975);
}

.content__center__post__reaction__left {
  display: flex;
}

.react {
  margin-right: 20px;
}

.content__center__post__comment {
  display: flex;
  justify-content: center;
  position: relative;
}

.content__center__post__comment input[type="text"] {
  padding-left: 40px;
}

.content__center__post__comment span {
  position: absolute;
  right: 40px;
  top: 25px;
  color: rgba(0, 0, 0, 0.3);
}

.commentBox {
  padding: 10px;
  width: 95%;
  margin: 10px 0;
  border-radius: 20px;
  border: 1px solid #ccc;
}

.content__right {
  display: flex;
  flex-grow: 1;
}

.content__center__post__head__detail__top {
  display: flex;
  justify-content: flex-start;
}

.content__center__post__head__detail__top__left {
  padding-bottom: 5px;
}

.content__center__post__image {
  width: 37.375rem;
  height: auto;
}

.post__icon {
  width: 24px;
  height: 24px;
  margin: 0 10px;
  animation-name: shake;
  animation-duration: 800ms;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-play-state: running;
}

@keyframes shake {
  0% {
    transform: rotate(0deg);
  }

  25% {
    transform: rotate(20deg);
  }

  50% {
    transform: rotate(0deg);
  }

  75% {
    transform: rotate(-20deg);
  }

  100% {
    transform: rotate(0deg);
  }
}

.showItem {
  display: block !important;
}

.trans {
  margin: 0 10px;
}

.dropdown-item {
  width: 5rem !important;
  padding: 5px !important;
  margin: 5px 5px !important;
}

.dropdown-menu {
  min-width: 5rem !important;
}

@media (max-width:600px) {
  body {
    width: 100%;
  }

  .head__right__button{
    font-size: 3vw;
  }

  .head__center_logo {
    transform: scale(0.8)
  }

  .head__center__areanameIcon__areaname__compasss {
    font-size: 3.5vw;
  }

  .head__center__areanameIcon__areaname__primaryAreaName {
    font-size: 3vw;
  }

  .head__center__areanameIcon__areaname__secondaryAreaName {
    font-size: 3vw
  }

  .head__center_logo {
    margin-left: 1.5rem;
  }

  .head__center__areanameIcon {
    margin-left: 1.5rem;
  }

  .head__right__button {
    margin: 0 1.5rem;
  }

  .content {
    font-size: 3vw;
  }

  .post__icon {
    width: 3.2vw;
    height: 3.2vw;
  }

  .dropdown-item {
    font-size: 3vw;
  }
}