* {
    padding: 0;
    margin: 0;
}

body {
    background-color: #ffffff;
    color: #262626;
}

* {
@include box-sizing(border-box);
}
body {
    font: 1.5em/1.7 Gotham, Proxima Nova, Helvetica, sans-serif;
}
img {
    max-width: 100%;
    height: auto;
}
.head {
    position: fixed;
    display: flex;
    top: 0;
    right: 0;
    left: 0;
    background: #ffffff;
    z-index: 99;
    box-shadow: 0 0 .125em 0 rgba(0,0,0,.5);
    overflow: hidden;
    max-height: 80px;
    height: 80px;
}

.head::after {
     background: white;
     content: '';
     top: 0; right: 0; bottom: 0; left: 0;
     z-index: 4;
 }

.content {
    margin-top: 100px;
    display: flex;
    justify-items: center;
    margin-left: 24px;
}

.head__center__box{
    position: absolute;
    display: flex;
    height: 80px;
    width: 100%;
}

.content__center {
    width: 600px;
    margin-top: 80px;
    @include transform(translateY(-50%));
    left: 1em;
    font-weight: bold;
    display: inline-block;
    vertical-align: bottom;
    z-index: 5;
    margin-right: 80px;
}


.content__center__post__head {
    @include transform(translateY(-50%));
}

.content__center__post__reaction {
    padding: 1em;
    max-width: 30em;
    margin: 0 auto;
}


.head__left {
    flex-grow: 1;
}

.head__center {
    display: flex;
    width: 600px;
    justify-content: space-between;
    align-items: center;
    backdrop-filter: blur(10px);
}

.head__center_logo {
    width: 100px;
    height: auto;
    z-index: 9999;
}

.head__center_logo:hover {
    transform: scale(1.1);
    transition: all 100ms ease-out;
}

.head__center__areanameIcon__areaname {
    z-index: 99999;
}

.head__center__areanameIcon__areaname__primaryAreaName {
    font-size: 18px;
    font-weight: bold;
}

.head__center__areanameIcon__areaname__secondaryAreaName {
    font-size: 14px;
}

.head__center__areanameIcon__areaname__compasss {
    font-size: 24px;
    text-align: center;
    margin: 6px;
    animation-name: spin;
    animation-duration: 2000ms;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    z-index: 9999;
}

.head__center__areanameIcon {
    display: flex;
    align-items: flex-start;
}

.head__center__areanameIcon__areaname {
    text-align: center;
}

.head__right {
    flex-grow: 1;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    opacity: 0.35;
}

.head__right__button {
    font-size: 14px;
    text-align: center;
    border-radius: 3px;
    border-color: #e6e6e6;
    margin-right: 24px;
    padding: 8px;
    background-color: #fafafa;
    width: max-content;
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(359deg);
    }
}

@media (max-width: 600px) {
    body {
        width: 100%;
    }

    .head__center_logo {
        margin: 24px;
    }

    .head__center__areanameIcon {
        margin: 24px;
        width: max-content;
    }

    .head__right__button {
        margin: 0 24px;
    }
}


/****  floating-Lable style start ****/
.floating-label {
    position: relative;
    margin-bottom: 20px;
}

.floating-input, .floating-select {
    font-size: 18px;
    padding: 4px 4px;
    display: block;
    width: 100%;
    height: 40px;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid #1e90ff;
    margin-top: 7%;
}

.floating-input:focus, .floating-select:focus {
    outline: none;
    border-bottom: 2px solid #1e90ff;
}

label {
    color: #999;
    font-size: 18px;
    font-weight: normal;
    position: absolute;
    pointer-events: none;
    left: 5px;
    top: 5px;
    transition: 0.2s ease all;
    -moz-transition: 0.2s ease all;
    -webkit-transition: 0.2s ease all;
}

.floating-input:focus ~ label, .floating-input:not(:placeholder-shown) ~ label {
    top: -18px;
    font-size: 14px;
    color: #1e90ff;
}

.floating-select:focus ~ label, .floating-select:not([value=""]):valid ~ label {
    top: -18px;
    font-size: 14px;
    color: #1e90ff;
}

/* active state */
.floating-input:focus ~ .bar:before, .floating-input:focus ~ .bar:after, .floating-select:focus ~ .bar:before, .floating-select:focus ~ .bar:after {
    width: 50%;
}

*, *:before, *:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.floating-textarea {
    min-height: 30px;
    max-height: 260px;
    /*overflow: hidden;*/
    overflow-x: hidden;
}

/* highlighter */
.highlight {
    position: absolute;
    height: 50%;
    width: 100%;
    top: 15%;
    left: 0;
    pointer-events: none;
    opacity: 0.5;
}

/* active state */
.floating-input:focus ~ .highlight, .floating-select:focus ~ .highlight {
    -webkit-animation: inputHighlighter 0.3s ease;
    -moz-animation: inputHighlighter 0.3s ease;
    animation: inputHighlighter 0.3s ease;
}

/* animation */
@-webkit-keyframes inputHighlighter {
    from {
        background: transparent;
    }
    to {
        width: 0;
        background: transparent;
    }
}

@-moz-keyframes inputHighlighter {
    from {
        background: transparent;
    }
    to {
        width: 0;
        background: transparent;
    }
}

@keyframes inputHighlighter {
    from {
        background: transparent;
    }
    to {
        width: 0;
        background: transparent;
    }
}

/****  floating-Lable style end ****/


.head__right__buttonIcon__password {
    float: right;
    margin-top: -25px;
}

.head__right__buttonLogin_button {
    margin: 0 32px 20px 32px;
    border-radius: 5px;
}


.content__left {
    display: flex;
    flex-grow: 1;
}


.content__center__post {
    display: flex;
    width: 600px;
    flex-direction: column;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    margin-top: 20px;
}

.content__center__post__head {
    display: flex;
    align-items: center;
}

.content__center__post__head__avatar {
    width: 40px;
    height: 40px;
    margin: 10px;
}

.content__center__post__head__detail {
    width: 100%;
}

.content__center__post__head__detail__bottom {
    display: flex;
}

.content__center__post__head__detail__bottom__time {
    margin-left: 20px;
}

.content__center__post__reaction {
    display: flex;
    justify-content: space-between;
    margin: 10px 20px;
    padding-bottom: 10px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.0975);
}

.content__center__post__reaction__left {
    display: flex;
}

.react {
    margin-right: 20px;
}


.content__center__post__comment {
    display: flex;
    justify-content: center;
    position: relative;
}

.content__center__post__comment input[type=text] {
    padding-left: 40px;
}

.content__center__post__comment span {
    position: absolute;
    right: 40px;
    top: 25px;
    color: rgba(0, 0, 0, 0.3)
}

.commentBox {
    padding: 10px;
    width: 95%;
    margin: 10px 0;
    border-radius: 20px;
    border: 1px solid #ccc;
}

.content__right {
    display: flex;
    flex-grow: 1;
}

.content__center__post__head__detail__top {
    display: flex;
    justify-content: flex-start;
}

.content__center__post__head__detail__top__left {
    padding-bottom: 5px;
}

.content__center__post__head__detail__top__left__translate__icon {
    width: 24px;
    height: 24px;
    margin: 0 0 0 20px;
    animation-name: shake;
    animation-duration: 800ms;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-play-state:running;
}

.center__postBoard__image {
    width: 598px;
    height: auto;
}

@keyframes shake {
    0% {
        transform: rotate(0deg);
    }

    25% {
        transform: rotate(20deg);
    }

    50% {
        transform: rotate(0deg);
    }

    75% {
        transform: rotate(-20deg);
    }

    100% {
        transform: rotate(0deg);
    }
}

@media only screen and (max-width: 660px) {
    body {
        zoom: 90%;
    }
}

@media only screen and (max-width: 600px) {
    body {
        zoom: 80%;
    }
}

@media only screen and (max-width: 530px) {
    body {
        zoom: 70%;
    }
}

@media only screen and (max-width: 470px) {
    body {
        zoom: 60%;
    }
}

@media only screen and (max-width: 410px) {
    body {
        zoom: 50%;
    }
}

@media only screen and (max-width: 340px) {
    body {
        zoom: 40%;
    }
}

.content__center__post__head__detail__top__left__language {
    position: relative;
}

.content__center__post__head__detail__top__left__language .dropdown-menu {
    max-height: 200px;
    overflow: hidden;
    position: absolute;
    -webkit-transition: all 0.25s ease-in-out;
    transition: all 0.25s ease-in-out;
    min-width: 90px;
    text-align: center;
    z-index:200;
    padding-top: 8px;
    background-color: dodgerblue;
}

.content__center__post__head__detail__top__left__language .dropdown-menu a {
    display: block;
}

.content__center__post__head__detail__top__left__language .dropdown-menu:before {
    content: '';
    position: absolute;
    height: 0;
}